<a href="https://colab.research.google.com/github/daniilpopoff/petprogects/blob/main/homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Atalov S. (TSI AUCA)

---

### NAME: Daniil
### DATE: 26 Mar 23

### 1. A list with numbers is given. Collect in a new list all numbers less than 10.
Дается список с числами. Собрать в новом списке все числа которые меньше 10.

In [4]:
L = [-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
num_less_10  = []
for i in L:
  if i < 10:
    num_less_10.append(i)
num_less_10

[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 2. A list with numbers is given. Collect in a new list all the numbers that are divisible by 3 and 5.
Дается список с числами. Собрать в новом списке все числа которые делятся на 3 и на 5.

In [5]:
L = [-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
list_3_5 = []
for i in L:
  if i % 3 == 0 and i % 5 == 0:
    list_3_5.append(i)
list_3_5

[0, 15]

### 3. A list with numbers is given. Collect in the new list the squares (to the second degree) of all numbers that are less than 10
Дается список с числами. Собрать в новом списке квадраты (во второй степени) всех чисел которые меньше 10

In [8]:
L = [-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
squares = []
for i in L:
  if i < 10 :
    squares.append((i)**2)
squares

[1, 0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### 4. A list with numbers is given. Find the number of positive elements in the given list.
Дается список с числами. Найдите количество положительных элементов в данном списке.

In [11]:
L = [-1, 0, -1, -2, -3, 4, 5, 6, -7, 8, 9, -10, 11, 12, -13, 14, 15, -16, 17, 18, 19]
num_pos =  sum(1 for i  in L if i < 0)
num_pos

8

### 5. A list with numbers is given. Output the value of the smallest of all positive elements in the given list. (don't use list methods!)
Дается список с числами. Выведите значение наименьшего из всех положительных элементов в данном списке. (Нельзя использовать готовые методы списков!)

In [16]:
import random
L = [-1, 5, -1, -2, -3, 4, 5, 6, -7, 8, 9, -10, 11, 12, -13, 14, 15, -16, 17, 18, 19]
smallest = random.choice(L)
for i in L:
  if i < 0 and i < smallest:
    smallest = i
smallest

-16

### 6. A list with numbers is given. Print the value of the smallest odd element in the given list.
Дается список с числами. Выведите значение наименьшего нечетного элемента в данном списке.

In [28]:

L = [-1, 5, -1, -2, -3, 4, 5, 6, -7, 8, 9, -10, 11, 12, -13, 14, 15, -16, 17, 18, 19]
smallest_odd = random.choice(L)
for i in L:
  if i % 2 != 0 and i < smallest_odd:
    smallest_odd = i 
smallest_odd 
#-13 % 2

-13

### 7. A list with numbers is given. Output the elements of this list in reverse order. (don't use list methods!)
Дается список с числами. Выведите элементы данного списка в обратном порядке. (Нельзя использовать готовые методы списков!)

In [41]:
L = [-1, 5, -1, -2, -3, 4, 5, 6, -7, 8, 9, -10, 11, 12, -13, 14, 15, -16, 17, 18, 19]
L[::-1]

[19,
 18,
 17,
 -16,
 15,
 14,
 -13,
 12,
 11,
 -10,
 9,
 8,
 -7,
 6,
 5,
 4,
 -3,
 -2,
 -1,
 5,
 -1]

### 8. Given a list. Determine which number appears most often in this list. If there are several such numbers, print any of them. (don't use list methods!)
Дан список. Определите, какое число в этом списке встречается чаще всего. Если таких чисел несколько, выведите любое из них. (Нельзя использовать готовые методы списков!)

In [ ]:
L = [1, 5, 1, 2, 3, 4, 5, 6, 2, 8, 3, 1, 1, 12, 13, 14, 15, 16, 17, 12, 1]